/* layout*/

html{
	font-size: 20px;
}
header, h1{
	display: flex;
	justify-content: center;
}
.calcBody, .calcHeading{
	display: flex;
	justify-content: center;
	align-content: center;
}
.calcHeading{
	margin: auto 36.8% auto 36.8%;
	font-size: 1.5rem;
	justify-content: end;
}
.calcBody{
	margin: auto 40% auto 40%;
}
.zero{
	display: flex;
	justify-content: space-evenly;
	font-size: 1.21rem;
}
.vertical{
	display:flex;
	flex-direction: column;
}
button{
	display: flex;
	margin: auto;
	padding: auto;
	width: 5rem;
	justify-content: space-evenly;
	font-size: 1.5rem;
}
#calculate{
	height: 100%;
}

/* Style */



.calcBody{
	
}
.calcHeading{
	font-weight: bold;
	background-color: black;
	color: white;
}
.zero{
	
}
.vertical{
	
}
button{
	background-color: rgba(255, 165, 0,1);
	border-style: none;
}
#calculate{
	
}
#color{
	background-color: green;
}